<header>
        <a href=""><img src="img/logo.png" alt="" class="nav-brand"></a>
        <div class="navegation-container">
            <img src="img/search.png" alt="" class="nav-icon">
            <nav>
                <ul>
                    <li><a href="" class="nav-item nav" >HOME</a></li>
                    <li><a href="" class="nav-item nav">CURSOS</a></li>
                    <li><a href="" class="nav-item nav">QUEM SOMOS</a></li>
                    <li><a href="" class="nav-item nav">NOTÍCIAS</a></li>
                    <li><a href="" class=" nav-item"><span class="nav-button">SEJA MEMBRO</span></a></li>
                </ul>
            </nav>
        </div>
</header>
